<?xml version="1.0"?>
<!--
    Bind each payment icon view model to its icon set (subdirectory of
    view/frontend/web/svg). Mirrors the set split of the Hyvä package, but the
    renderer is framework-agnostic (Siteation\IconsPayment\Model\SvgIconRenderer),
    so these view models work in any theme.
-->
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd"
>
    <type name="Siteation\IconsPayment\ViewModel\PaymentIcons">
        <arguments>
            <argument name="iconSet" xsi:type="string">default</argument>
        </arguments>
    </type>
    <type name="Siteation\IconsPayment\ViewModel\PaymentIconsFlat">
        <arguments>
            <argument name="iconSet" xsi:type="string">flat</argument>
        </arguments>
    </type>
    <type name="Siteation\IconsPayment\ViewModel\PaymentIconsMono">
        <arguments>
            <argument name="iconSet" xsi:type="string">mono</argument>
        </arguments>
    </type>
</config>
